// .ion-align-content-center {
//     align-self: center;
// }

ion-toggle {
    --background: #FF0000;
    --background-checked: #00FF00;
    --handle-background: #C6E3EF;
    --handle-background-checked: #C6E3EF;
}



// .custom-settings-alert {
//     .alert-wrapper {
//         background: lightgrey;
//         .alert-button:first-child {
//             background: cornflowerblue;
//             --background-activated: lightblue;
//             color: white;
//         }
//     }
    
// }